@use '../mixins' as *;
@use '../variables' as *;

.single-post {
  #Intro {
    background: #fff;

    .intro-inner {
      padding-top: 80px !important;
      padding-bottom: 40px !important;

      @include respond-to(768px) {
        padding-top: 60px !important;
      }
    }

    .intro-next {
      display: none;
    }

    .categories {
      display: none;
    }

    .intro-title {
      font-family: $archivo;
      font-weight: 200;
      font-size: 40px;
      line-height: 44px;
      text-align: center;
      color: #000;
      margin-bottom: 28px;
    }

    .intro-meta {
      span, .date, .author {
        margin: 0;
        font-family: $archivo;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #4a4a4a;

        a {
          font-family: $archivo;
          font-weight: 300;
          font-size: 14px;
          line-height: 20px;
          color: #4a4a4a;
        }
      }
    }

    .date {
      display: inline-flex;
      gap: 4px;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 8px;

        &:before {
          content: "";
          width: 3px;
          height: 3px;
          background: #4a4a4a;
          display: block;
          border-radius: 50px;
          position: relative;
          left: -4px;
          top: -2px;
        }
      }
    }
  }

  .bi-single-post {
    * {
      font-family: $archivo;
      color: #4a4a4a;
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;

      @include respond-to(768px) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    h2, h3, h4, h5 {
      color: #000;
      padding-top: 36px;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 12px;
    }

    h2 {
      font-size: 20px;
      line-height: 28px;
      font-weight: 500;
    }

    img {
      margin: 36px 0 40px 0;
    }
  }

  .bi-copy-url {
    a {
      padding: 8px 10px;

      svg {
        width: 24px;
      }
    }
  }

  .bi-post-share {
    .elementor-widget-share-buttons {
      .elementor-share-btn {
        width: 38px;
        border: 1px solid #E5E5E5;

        &:hover {
          border-color: #000;
        }

        &__icon {
          svg {
            display: none;
          }
        }

        &_facebook {
          span {
            &:before {
              content: '';
              width: 36px;
              height: 36px;
              background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='11' height='20' viewBox='0 0 11 20' fill='none'><path d='M7 11.5H9.5L10.5 7.5H7V5.5C7 4.47 7 3.5 9 3.5H10.5V0.14C10.174 0.0970001 8.943 0 7.643 0C4.928 0 3 1.657 3 4.7V7.5H0V11.5H3V20H7V11.5Z' fill='black'/></svg>") no-repeat center center;
            }
          }
        }

        &_x-twitter {
          span {
            &:before {
              content: '';
              width: 36px;
              height: 36px;
              background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='18' viewBox='0 0 20 18' fill='none'><path d='M15.6863 0.0629883L10.6903 5.77399L6.37033 0.0629883H0.111328L7.58833 9.83899L0.502328 17.938H3.53633L9.00533 11.688L13.7853 17.938H19.8873L12.0933 7.63399L18.7183 0.0629883H15.6863ZM14.6223 16.123L3.65333 1.78199H5.45633L16.3023 16.122L14.6223 16.123Z' fill='black'/></svg>") no-repeat center center;
            }
          }
        }
        &_linkedin {
          span {
            &:before {
              content: '';
              width: 36px;
              height: 36px;
              background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M7.429 6.969H11.143V8.819C11.678 7.755 13.05 6.799 15.111 6.799C19.062 6.799 20 8.917 20 12.803V20H16V13.688C16 11.475 15.465 10.227 14.103 10.227C12.214 10.227 11.429 11.572 11.429 13.687V20H7.429V6.969ZM0.57 19.83H4.57V6.799H0.57V19.83ZM5.143 2.55C5.14315 2.88528 5.07666 3.21724 4.94739 3.52659C4.81812 3.83594 4.62865 4.11651 4.39 4.352C4.15064 4.59012 3.86671 4.77874 3.55442 4.90708C3.24214 5.03543 2.90763 5.10098 2.57 5.1C1.8896 5.09847 1.23691 4.83029 0.752 4.353C0.5143 4.11665 0.325532 3.83575 0.196496 3.52637C0.0674603 3.21699 0.000688218 2.88521 0 2.55C0 1.873 0.27 1.225 0.753 0.747001C1.2367 0.267882 1.89018 -0.000624124 2.571 1.0894e-06C3.253 1.0894e-06 3.907 0.269001 4.39 0.747001C4.873 1.225 5.143 1.873 5.143 2.55Z' fill='black'/></svg>") no-repeat center center;
            }
          }
        }
      }
    }
  }
}