@use '../mixins' as *;
@use '../variables' as *;

.woocommerce-account {
  #Subheader {
    background: #F7F7F7;
    padding: 48px 0;

    .title {
      font-family: $archivo;
      font-weight: 300;
      font-size: 60px;
      line-height: 60px;
      text-align: center;
    }

    .breadcrumbs {
      margin-top: 15px;
    }
  }

  #Content {
    padding-top: 0;

    .woocommerce {
      padding-top: 35px;
    }
  }

  .woocommerce-MyAccount-navigation {
    background: #F7F7F7;
    border-radius: 0;
    max-width: 320px;
    width: 100%;

    ul {
      gap: 8px;
      display: flex;
      flex-direction: column;

      li {
        a {
          border-radius: 0;
          padding: 10px;
          font-family: $archivo;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;

          br {
            display: none;
          }
        }

        &.is-active {
          a {
            background: #fff;
          }
        }
      }
    }
  }

  .woocommerce-MyAccount-content {
    font-family: $archivo;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    max-width: calc(100% - 320px);
    width: 100%;
    padding-left: 48px;

    a {
      color: #376099;
    }

    .woocommerce-info {
      .woocommerce-Button {
        background: #000;
        color: #fff;
        border: 1px solid #000;
        transition: all 0.3s;

        &:hover {
          background: transparent;
          color: #000;
        }
      }
    }
  }

  // Orders tab
  .woocommerce-orders-table {
    &__cell {
      &-order-number {
        //display: flex;
        align-items: center;
      }
    }

    p {
      margin: 0;
    }

    a {
      br {
        display: none;
      }
    }
  }
}