@use '../mixins' as *;
@use '../variables' as *;

.woocommerce-account {
  #Subheader {
    background: #F7F7F7;
    padding: 48px 0;

    .title {
      font-family: $archivo;
      font-weight: 300;
      font-size: 60px;
      line-height: 60px;
      text-align: center;
    }

    .breadcrumbs {
      margin-top: 15px;
    }
  }

  #Content {
    padding-top: 0;

    .woocommerce {
      padding-top: 35px;
      padding-bottom: 110px;
    }
  }

  .woocommerce-MyAccount-navigation {
    background: #F7F7F7;
    border-radius: 0;
    max-width: 320px;
    width: 100%;

    ul {
      gap: 8px;
      display: flex;
      flex-direction: column;

      li {
        a {
          border-radius: 0;
          padding: 10px;
          font-family: $archivo;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;

          br {
            display: none;
          }
        }

        &.is-active {
          a {
            background: #fff;
          }
        }
      }
    }
  }

  .woocommerce-MyAccount-content {
    font-family: $archivo;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    max-width: calc(100% - 320px);
    width: 100%;
    padding-left: 48px;

    a {
      color: #376099;
    }

    .woocommerce-customer-details {
      .woocommerce-columns {
        &--addresses {
          display: flex;
          flex-direction: column;
        }
      }

      .woocommerce-column {
        &--addresses {

        }

        &--billing-address {
          max-width: 100%;
          margin: 0;

          .woocommerce-column__title {
            text-align: left;
            font-family: $archivo;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            text-transform: uppercase;
          }

          address {
            width: 100%;
            padding: 20px;
            border: 1px solid #E5E5E5;
            font-family: $archivo;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #4A4A4A;


            p {
              margin: 0;
            }

            &:before {
              display: none;
            }
          }
        }
      }
    }

    .woocommerce-info {
      .woocommerce-Button {
        background: #000;
        color: #fff;
        border: 1px solid #000;
        transition: all 0.3s;

        &:hover {
          background: transparent;
          color: #000;
        }
      }
    }

    .woocommerce-order-details {
      border-radius: 0;

      .woocommerce-order-details__title {
        margin-bottom: 25px;
      }

      th {
        font-family: $archivo;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #4A4A4A;
        padding: 0 4px;
      }

      td {
        padding: 0 4px;
      }

      tr {
        height: 56px;
      }
    }
  }

  // Orders tab
  .woocommerce-orders-table {
    &.shop_table {
      th {
        padding: 15px 10px;
        line-height: 1;
      }
    }

    &__cell {
      p {
        font-family: $archivo;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #4A4A4A;
      }

      &-order-actions {
        a {
          font-family: $archivo;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
        }
      }
    }

    p {
      margin: 0;
    }

    a {
      br {
        display: none;
      }
    }
  }
}