@use "../variables" as *;
@use "../mixins" as *;
#Footer {
  .widgets_wrapper {
    padding: 0;
  }

  .footer_copy {
    .one {
      padding-top: 24px;
      margin-bottom: 5px;

      .mcb-column-inner {
        margin-bottom: 0;
      }
    }
    .copyright {
      float: unset;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      flex-direction: column;
      max-width: 1344px;
      margin: 0 auto;

      @include respond-from(1240px) {
        flex-direction: row;
      }

      p {
        margin: 0;
        font-family: $archivo;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        text-align: right;
        vertical-align: middle;
        color: #C9C9C9;
        padding-top: 24px;

        @include respond-from(768px) {
          padding-top: 0;
        }
      }

      a {
        font-family: $archivo;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        text-align: right;
        vertical-align: middle;
        color: #C9C9C9;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
.bi-footer {
  &__container {
    display: grid;
    gap: 24px;
    max-width: 1344px;
    margin: 0 auto;
    padding: 10px 4px;

    @include respond-from(768px) {
      grid-template-columns: repeat(3, 1fr);
      padding: 29px 4px 0 4px;
    }

    @include respond-from(1240px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__head {
    display: flex;
    gap: 12px;
    font-family: $albert;
    font-weight: 400;
    font-size: 20px; 
    line-height: 150%;
    vertical-align: middle;
    padding-bottom: 16px;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
  }

  &__column {
    text-align: left;
  }

  &__address {
    font-family: $archivo;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #DFDADA;
  }

  &__content {
    font-family: $archivo;
    p {
      margin: 0;
      font-family: $archivo;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      vertical-align: middle;
      color: #C9C9C9;
    }
  }

  &__menu {
    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;

      li {
        line-height: 1;
        a {
          font-family: $archivo;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          vertical-align: middle;
          color: #C9C9C9;
        }
      }
    }
  }
}