@use "../mixins" as *;
@use "../variables" as *;

#Header {
  max-width: 1384px;
  margin: 0 auto;
  display: flex;
  align-items: center;


  @include respond-to(768px) {
    min-height: unset !important;
    height: 60px;
  }

  @include respond-to(1240px) {
    display: flex;
    align-items: center;
  }

  #Top_bar {
    .logo {
      @include respond-from(768px) {
        margin-left: 0;
      }
    }

    #logo {
      padding: 0;

    }
  }

  .menu_wrapper {
    display: flex;
    height: 100%;
    align-items: center;

    .responsive-menu-toggle {
      border-radius: 0;
      background: unset;
      color: #fff;
    }
  }

  .top_bar_right {
    padding-left: 20px;

    #header_cart {
      margin-left: 0;
    }

    .myaccount_button {
      margin-right: 30px;
    }
  }

  #menu-main-menu {
    display: flex;
    align-items: center;

    > li {
      > a {
        font-family: $archivo;
        font-weight: 300;
        padding: 0;
        font-size: 16px;
        line-height: 24px;

        > span {
          padding: 0 12px;
          line-height: inherit;
        }
      }

      &.bi-button {
        margin-left: 16px;

        > a {
          padding: 7px 13px;

          > span {
            padding: 0;
          }
        }
      }
    }
  }

  .header-cart-total-new {
    font-family: $archivo;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    margin: 0;
    padding-left: 4px;
  }
}

#Side_slide {
  background-color: #fff;

  #menu {
    ul {
      li {
        a {
          color: #000;
        }

        &:hover {
          a {
            color: #000 !important;
          }
        }
      }
    }
  }

  #header_cart {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #000;

    p {
      margin: 0;
      line-height: 1;
    }
  }
}