.bi-button {
  a {
    border: 1px solid;
    transition: all 0.3s;
    border-radius: 0;
  }

  &__white {
    a {
      background: #fff !important;
      color: #000 !important;
      border-color: #fff;
    }

    &:hover {

      a {
        background: transparent !important;
        color: #fff !important;
      }
    }
  }

  &__black {
    a {
      background: #000 !important;
      color: #fff !important;
      border-color: #000;
      padding: 16px 32px;
    }

    &:hover {

      a {
        background: transparent !important;
        color: #000 !important;
      }
    }
  }

  &:hover {
    a {
      transition: all 0.3s;
    }
  }
}